extends ../email

block content
  p Hello #{name},
  p
  p Your car has been accepted to be featured in onemorecar.ca! You’ll hear from us soon.
  p We hope you are as excited as we are.
  p
  p