extends ../email

block content
  p Hello #{name},
  p
  p We wanted to congratulate you on the recent sale of your vehicle (#{auction_name}) on onemorecar.ca. You will receive an email from us with the highest bidder’s information shortly. We encourage you to do your due diligence from this step onwards to ensure smooth transfer of ownership.
  p Please let us know if you have any questions or concerns at any point and we hope you will be adding onemorecar to your stable soon!
  p
  p


  

