extends ../email

block content
  p Hello #{name},
  p
  p Your credentials have now been reset. Here is your temporary password.

  table.body-wrap(width='600' bgcolor='#db2828')
              tbody
                tr
                  td
                  td.container(bgcolor="#db2828" align="center")
                    .content.main
                      table
                        tbody
                          tr
                            td
                              h2 #{password} 
                  td
  

  p If you have not requested this change, please contact us at support@onemorecar.ca
  p Thank you and happy bidding.
  p
  p