extends ../email

block content
  p Hello #{name},
  p
  p We are thrilled to inform that your auction is now live on onemorecar.ca! Please go through the following link and ensure all the information provided was correct.
  p
    a(href=url) LINK
  p We wish you the best of luck in the next seven days, don’t hesitate to contact us if you have any questions or concerns.
  p
  p