extends ../email

block content
  p Hello #{name},
  p
  p We received your submission!
  p Thank you for your interest in listing your car with us. We have received your submission and we will get back to you as soon as we can.
  p
  p
