extends ../email

block content
  p Hello #{name},
  p
  p Unfortunately, we are unable to feature your car on our website at this time. If you have any questions, please contact us at support@onemorecar.ca.
  p Thank you for your interest!
  p
  p


  

