extends ../email

block content
  p Hello #{name},
  p
  p You were the highest bidder on the #{auction_name} that ended prior to reaching sellers reserve price. If you are still interested in the car, we encourage you to email the seller to see if you can come into an agreement.
  p The hold of $#{holdAmount} has been refunded to your credit card.
  p
  p