extends ../email

block content
  p Hello #{name},
  p
  p We are thrilled to inform you are the highest bidder of the #{auction_name} on onemorecar.ca.
  p Shortly, you will receive an email with the sellers contact information to complete the transaction.
  p Please let us know if you have any questions. Congratulations again.
  p
  p